/* body.qismo--hidden .qcw-cs-container,
body.qismo--hidden .qcw-container,
body.qismo--hidden .qismo-extra,
body.qismo--hidden #qiscus-widget {
  display: none !important;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
